$colorText: #212327;
$colorTextFooter: #787e89;

$colorPrimary: #ee3b33;

$colorWhite: #ffffff;
$colorBlackLight: #191a1e;

$colorGrayLight: #e5e7ed;
$colorGray: #c8c8c8;
$colorGrayDark: #8d9095;
$colorGrayXDark: #81848a;

$colorSeparator: #dadfe6;
$colorBorder: #cacbce;

$colorGradientBlue: #5c68b5;
$colorGradientYellow: #f5cc22;
$colorGradientGrayLight: #adacaa;
$colorGradientGray: #545351;
$colorGradientGrayDark: #383735;

$fontWeightNormal: 400;
$fontWeightMedium: 500;

$fontSizeTextSmall: 15px;
$fontSizeText: 17px;

$fontSizeTitleSmall: 12.51px;
$fontSizeTitle: 16px;
$fontSizeTitleMedium: 16.27px;
$fontSizeTitleLarge: 21.34px;
$fontSizeTitleHuge: 75.08px;

$fontSizeNavSmall: 12px;
$fontSizeNav: 13px;

$fontSizePriceSmall: 14px;
$fontSizePrice: 25.03px;

$fontSizeFooter: 10px;

$lineHeightNormal: normal;
$lineHeightLarge: 27px;
$lineHeightTextSmall: 25px;
$lineHeightTextRegular: 28px;

$fontFamilyText: "Source Sans Pro", "Arial", sans-serif;
$fontFamilyTitle: "Oswald", "Arial", sans-serif;

$letterSpacingNav: 0.02em;
